build/
SeqLearning.xcodeproj/esposito.*
SeqLearning.xcodeproj/radicion.*
SeqLearningNew_Prefix.pch
BBPitchClassDurationFeature.m
SeqLearning.xcodeproj/nadiasenatore.mode1v3
SeqLearning.xcodeproj/nadiasenatore.pbxuser